- provide(:title, 'プライバシーポリシー')

#privacy_container
  %h1
    %span プライバシーポリシー
    Privacy Policy
  .agreement_text
    %p 当サービス（Fujihalab-System）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全開発者に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
    .agreement_text_block
      %strong 個人情報の管理
      %p 当サービスは、学生様の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
    .agreement_text_block
      %strong 個人情報の利用目的
      %p 学生様からお預かりした個人情報は、当サービスの運営に利用いたします。
    .agreement_text_block
      %strong 個人情報の第三者への開示・提供の禁止
      %p 当サービスは、学生様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
      %ul
        %li 学生様の同意がある場合
        %li 法令に基づき開示することが必要である場合
    .agreement_text_block
      %strong 個人情報の安全対策
      %p 当サービスは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
    .agreement_text_block
      %strong ご本人の照会
      %p 学生様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
    .agreement_text_block
      %strong 法令、規範の遵守と見直し
      %p 当サービスは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
