#leave_modal
  %p
    本当に
    %span 退席
    してもよろしいですか？
  .button_area
    = link_to 'はい', leave_path, class: "leave_button"
    = link_to 'いいえ', 'javascript:void(0)', class: "leave_button modal_close"
