@import "settings";

@media all and (min-width: 769px){
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #alert{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      height: 60px;
      color: #FFF;
      font-weight: bold;
      background-color: $secondary_black_text;
      z-index: 100;
      &.fadeout{
        animation : fadeOut 1s;
        animation-fill-mode: both;
      }
    }
    header{
      width: 100%;
      height: 60px;
      background-color: $first_color;
      @include shadow(4px, 3px, 1px, 0.3);
      nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        .left_elements, .right_elements{
          display: flex;
          a{
            display: flex;
            align-items: center;
            color: $primary_white_text;
            font-weight: bold;
            text-decoration: none;
            margin: 0 10px;
          }
        }
        .center_elements{
          a{
            img{
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              height: 60px;
              width: auto;
            }
          }
        }
        .right_elements{
          a{
            img{
              border-radius: 50%;
              object-fit: cover;
              font-family: 'object-fit: cover;';
              margin-left: 5px;
            }
          }
        }
      }
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      background-color: $first_color;
      margin-top: auto;
      p{
        color: $primary_white_text;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}
@media all and (max-width: 768px){
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #alert{
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      width: 100%;
      height: 60px;
      color: #FFF;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      background-color: $secondary_black_text;
      z-index: 100;
      &.fadeout{
        animation : fadeOut 1s;
        animation-fill-mode: both;
      }
    }
    #drawer_overlay, #card_overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity: 0.7;
      z-index: 2;
      transition: all 0.3s ease 0s;
      &.open{
        opacity: 0;
        z-index: -1;
      }
    }
    header{
      @include shadow(4px, 3px, 1px, 0.3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      background-color: $first_color;
      #menu_opener{
        color: $primary_white_text;
        font-size: 30px;
        margin-left: 15px;
      }
      #logo{
        img{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 60px;
          width: auto;
        }
      }
      img{
        border-radius: 50%;
        margin-right: 15px;
      }
      nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 265px;
        height: 100vh;
        background-color: rgba(#000,0.8);
        z-index: 200;
        transform: translateX(-265px);
        transition: all 0.3s ease 0s;
        &.open {
          transform: translateX(0);
        }
        #drawer_dalete{
          position: absolute;
          top: 10px;
          right: 10px;
          color: $primary_white_text;
          font-size: 25px;
        }
        h2{
          color: $primary_white_text;
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          margin-top: 20px;
        }
        ul{
          word-break: break-all;
          margin: 0 25px;
          li{
            border-bottom: 1px solid $divider_white_text;
            padding-bottom: 10px;
            margin: 25px 0;
            a{
              display: flex;
              align-items: center;
              color: $primary_white_text;
              font-weight: bold;
              text-decoration: none;
              i{
                width: 30px;
                font-size: 25px;
                padding-right: 10px;
              }
              img{
                border-radius: 50%;
                object-fit: cover;
                font-family: 'object-fit: cover;';
                margin-right: 10px;
              }
              span{
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    footer{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      background-color: $first_color;
      margin-top: auto;
      p{
        color: $primary_white_text;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
